<!DOCTYPE html>
<html>
    <head>
        <!--Change the title-->
        <title>PRMexperiment</title>
        
        <!--jsPsych necessities start-->
        <script src="../static/js/jsPsych-6.0.3/jspsych.js"></script>
        <script src="../static/js/pest.js"></script>
        <link href="../static/js/jsPsych-6.0.3/css/jspsych.css" rel="stylesheet" type="text/css"></link>
        <!--jsPsych necessities end-->
        
        <!--jsPsych plugins start-->
        <!--//////////////////|\\\\\\\\\\\\\\\\\\-->
        <!--//     Your jsPsych plugins here    \\-->
        
        
        <script src="../static/js/jsPsych-6.0.3/plugins/jspsych-html-keyboard-response.js"></script> 
        <script src="../static/js/jsPsych-6.0.3/plugins/jspsych-RDK.js"></script>
        <script src="../static/js/jsPsych-6.0.3/plugins/jspsych-text.js"></script>
        <script src="../static/js/jsPsych-6.0.3/plugins/jspsych-instructions.js"></script>        
        
        
        <!--\\                                 //-->
        <!--\\\\\\\\\\\\\\\\\\|//////////////////-->           
        <!--jsPsych plugins end-->
        
        <!--PsiTurk inserts start-->
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="../static/lib/underscore-min.js" type="text/javascript"> </script>
        <script src="../static/lib/backbone-min.js" type="text/javascript"> </script>
        <script src="../static/lib/d3.v3.min.js" type="text/javascript"> </script>
        <!-- These variables are necessary to implement psiTurk -->
        <script type="text/javascript">
            // These fields provided by the psiTurk Server
            var uniqueId = "{{ uniqueId }}"; // a unique string identifying the worker/task
            var adServerLoc = "{{ adServerLoc }}"; // the location of your ad (so you can send user back at end of experiment)
            var mode = "{{ mode }}"; // is this running live, sandbox, or in debug mode?
        </script>
        <!-- utils.js and psiturk.js provide the basic psiturk functionality -->
        <script src="../static/js/utils.js" type="text/javascript"></script>
        <script src="../static/js/psiturk.js" type="text/javascript"></script>
        <!--PsiTurk inserts end-->
    </head>
    <body>
    </body>
    <script>
    
        //Data switches
        var psiTurkIsOn = 0;   // 0: Test locally.  1: Test/Run on psiTurk
        var savingLocally = 1; // 0: Nothing.       1: Download CSV file
        var displayData = 1;   // 0: Nothing.       1: Display data on browser
        var username = 'odegaard';     // Username for psiturk server
        var tableName = 'Perceptual Reality Monitoring';    // MySQL Table Name 
        var folderName = 'PRM';   // Folder containing the experiment
        
        
        // Load psiturk
        if (psiTurkIsOn){
          var psiturk = new PsiTurk(uniqueId, adServerLoc, mode);
        } 
        
        ///////////////////////////////////////////////////////////////
        //-----------------Your code below this line-----------------//

        			/* Jason's browser exclusion code so subjects only use Google Chrome */
	function getBrowserInfo() 
		{ 
	        var ua = navigator.userAgent, tem, 
	        M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || []; 
	        if(/trident/i.test(M[1])) 
	        { 
	                tem=  /\brv[ :]+(\d+)/g.exec(ua) || []; 
	                return 'IE '+(tem[1] || ''); 
	        } 
	        if(M[1]=== 'Chrome') 
	        { 
	                tem= ua.match(/\b(OPR|Edge)\/(\d+)/); 
	                if(tem!= null) return tem.slice(1).join(' ').replace('OPR', 'Opera'); 
	        } 
	        M = M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?']; 
	        if((tem= ua.match(/version\/(\d+)/i))!= null) 
	                M.splice(1, 1, tem[1]); 
	        return { 'browser': M[0], 'version': M[1] }; 
		} 
		
	var browserInfo = getBrowserInfo(); 
	if(browserInfo.browser !== 'Chrome') 
		{ 
		Message = "This experiment only has support for Google Chrome. Please reopen the experiment in Google Chrome."
	        var wrong_browser = 
	        { 
	                //type: 'text', 
	                //text: '<p>This experiment only has support for Google Chrome.</p>' 
	                //         +'<p>Please reopen the experiment in Google Chrome.</p>', 
	            type: 'html-keyboard-response',
				stimulus: [
					'<p style="font-size: 26px;">' + Message + '</p>'
					],
			    choices: jsPsych.NO_KEYS,
	        }; 
	        jsPsych.init({ 
	                //experiment_structure: [wrong_browser], 
	                timeline: [wrong_browser]
	        }); 
		} 
	else
		//This open bracket gets closed at the very end of the file!  
		{
	
	
	var fixation = {
		type: "RDK",
		coherent_direction: 0,
		coherence: 0,
		dot_color: "white",
		correct_choice: "",
		background_color: "white",
		trial_duration: 500,
		data: {trial_type: fixation},
		fixation_cross: true,
		data: {descriptive_trial_type: "fixation"}
	}
	
	var cong=1;
	var congMessage;
	var main_timeline = [];
	var rdk3_coherence;
	var rdk4coherent_direction = [];
	
	function randcoh(){
		return Math.floor(Math.random()*2)*corrdir
		};
		
	function correctresponseCoh(){
		if (rdk3_coherence==0){
			return "n"
		    } else {
		    	return "y"
		    }};
		    
	function correctresponseAB(){
		if (rdk4coherent_direction[0]==corrdirArray[counter-1]){
			return "a"
		    } else {
		    	return "b"
		    }};
		    
	//Coherence Pest Setup
	
	//Variables for 3 Down / 1 Up
	var downThreshold = 3; // 3 Down
	var upThreshold = 1; // 1 Up
	var upperCoherenceLimit = 1.0;
	var lowerCoherenceLimit = 0.0000000001; //Practically 0, but cannot set to 0 because JavaScript evaluates it as false in the RDK plugin
	var correctStreakCounter = 0;
	var incorrectStreakCounter = 0;
	var startCoh=0.7;
	
	var currcoh = startCoh; //keeps track of current value in coherence staircase
		
	//Variables for PEST
	var currentStepSize1 = 0.32; //Global variable to hold the current step size
	var minimumStepSize1 = 0.01; //Smallest step size
	var maximumStepSize1 = 0.32; //Largest step size
	
	//Create the parameter object for PEST
	var pestParameters = {
		starting_intensity: startCoh,
		down_threshold: downThreshold,
		up_threshold: upThreshold,
		upper_intensity_limit: upperCoherenceLimit,
		lower_intensity_limit: lowerCoherenceLimit,
		starting_step_size: currentStepSize1,
		min_step_size: minimumStepSize1,
		max_step_size: maximumStepSize1
	};
	
	var mypestCoh = new pest(pestParameters);
	
	//Variables for 3 Down / 1 Up
	var downThreshold = 3; // 3 Down
	var upThreshold = 1; // 1 Up
	var upperDifferenceLimit = 180.0;
	var lowerDifferenceLimit = 0.1;
	var correctStreakCounter = 0;
	var incorrectStreakCounter = 0;
	var startAngle=90.0;
	
	var currAngle = startAngle; //keeps track of current value in angle staircase
		
	//Variables for PEST
	var currentStepSize2 = 30.0; //Global variable to hold the current step size
	var minimumStepSize2 = 0.01; //Smallest step size
	var maximumStepSize2 = 30.0; //Largest step size
	
	//Create the parameter object for PEST
	var pestParameters = {
		starting_intensity: startAngle,
		down_threshold: downThreshold,
		up_threshold: upThreshold,
		upper_intensity_limit: upperDifferenceLimit,
		lower_intensity_limit: lowerDifferenceLimit,
		starting_step_size: currentStepSize2,
		min_step_size: minimumStepSize2,
		max_step_size: maximumStepSize2
	};
	
	var mypestAngle = new pest(pestParameters);
	
	//generate all trials
	//trial inputs
	
		dur12=1000;
		dur3=1000;
		mov=1;
		dotcol="black";
		bgcol="white";
		fix_col="black";
		framer=30;
	
	var numblocks = 1;
	var blocksize = 1;
	var corrdirArray = [];
	var counter=0;

for	(j=0; j<numblocks; j++){
	cong=Math.floor(Math.random()*2)
	
	if (cong==1){
		congMessage = "If motion is coherent, it will be in the same direction as remembered target (congruent)"
	}
	else{
		congMessage = "If motion is coherent, it will not be in the same direction as remembered target (incongruent)"
	}
	var disp_congruence = {
				type: 'html-keyboard-response',
				stimulus: [
					'<p style="font-size: 36px;">' + congMessage + '</p>'
					],
			    choices: jsPsych.NO_KEYS,
			    trial_duration: 5000,
			}

	main_timeline.push(disp_congruence)
	
	
	for (i=0; i<blocksize; i++) {

	
			corrdir = Math.floor(Math.random()*360);
			console.log("corrdir = " + corrdir);
			corrdirArray.push(corrdir);

			//initialize params which will contain all the variables per trial
				
			mem = Math.floor(Math.random()*2)+1;
			//mem=1;
			
			//set which memory trial we're going for
			if (mem==1){
				dir1 = corrdir;
				dir2 = (dir1 + 45 + Math.floor(Math.random()*270))%360;
			} else {
				dir2 = corrdir;
				dir1 = (dir2 + 45 + Math.floor(Math.random()*270))%360;
			}
			
			
			//set direction3
			// on congruent trials it's same as corrdir, 
			//on incongruent trials it's randomized at least 90 degrees away from corrdir
			//staircase difference later
			if (cong==0) {
				dir3=(corrdir+45+Math.floor(Math.random()*270))%360;	
			} else {
				dir3=corrdir
			}
			
			var rdk1 = {
				type: "RDK",
				coherent_direction: dir1,
				coherence: 1,
				move_distance: mov,
				trial_duration: dur12,
				RDK_type: 3,
				aperture_type: 1,
				dot_color: dotcol,
				background_color: bgcol,
				//data: {trial_type: "rdk1"},
				fixation_cross: true,
				data: {descriptive_trial_type: "rdk1", block_num: j, run_num: i}
			}
			
			var rdk2 = {
				type: "RDK",
				coherent_direction: dir2, 
				coherence: 1,
				move_distance: 1,
				trial_duration: dur12,
				RDK_type: 3,
				aperture_type: 1,
				dot_color: dotcol,
				background_color: bgcol,
				fixation_cross: true,
				data: {descriptive_trial_type: "rdk2", block_num: j, run_num: i},
			}
			
			console.log("disp_mem")
			var disp_mem = {
				type: "RDK",
			    text_center: mem.toString(),
			    number_of_dots: 0,
			    background_color: bgcol,
				trial_duration: 1000,
			    data: {descriptive_trial_type: "disp_mem", block_num: j, run_num: i, remember: mem.toString()},
			}
			
			var rdk3 = {
				type: "RDK",
				coherent_direction: dir3, 
				coherence: function(){	
					rdk3_coherence = Math.floor(Math.random()*2)*currcoh; //either 0 or currcoh //determining whether or not its coherent;
					return rdk3_coherence;},
				move_distance: mov,
				trial_duration: dur3,
				RDK_type: 3,
				aperture_type: 1,
				dot_color: dotcol,
				background_color: bgcol,
				fixation_cross: true,
				block_congruent: cong==1,
				data: {descriptive_trial_type: "rdk3", block_num: j, run_num: i},
			}
						
			var qcoh = {
				type: 'html-keyboard-response',
				stimulus: [
					'Was the previous trial coherent? <p> (Press Y or N for Yes or No)'
					],
			    choices: ["y","n"],
			    data: {descriptive_trial_type: "qcoh", block_num: j, run_num: i},
			    data: {block_congruent: cong==1},
				on_finish: function(data){
					//correct response has to be dynamically changed because whether coherence is 0 or currcoh is dynamically changed
					jsPsych.data.get().addToLast({correct_response: correctresponseCoh()});
					data.response=jsPsych.pluginAPI.convertKeyCodeToKeyCharacter(data.key_press)
					data.correct = data.response==data.correct_response
					//correct_choice: correctresponseCoh()
					currcoh = mypestCoh.staircase(data.correct);					
					}
			    }
			    
		
			 var rdk4 = {
				type: "RDK",
				number_of_apertures: 2,
				choices: ["a","b"],
				data: {descriptive_trial_type: "rdk4", block_num: j, run_num: i},
				//making function so staircasing will be easier later
				coherent_direction: function(){
					console.log("counter = " + counter);			
					aCorrect = (Math.random()<0.5) //deterimines whether a will be correct answer or not
					plus = (Math.random()<0.5) //determining + or - in angle difference
					c = corrdirArray[counter]
					if (aCorrect && plus) {
						rdk4coherent_direction=[c,(c+currAngle)%360]
		   			} else if (aCorrect && !plus) {
		    			rdk4coherent_direction=[c,(c-currAngle)%360]
		   			} else if (!aCorrect && plus) {
		    			rdk4coherent_direction=[(c+currAngle)%360,c]
		   			} else {
		    			rdk4coherent_direction=[(c-currAngle)%360,c]
		   			};
		   			counter++;			
					return rdk4coherent_direction;
					},
				coherence: 1,
				move_distance: mov,
				trial_duration: 10000,
				RDK_type: 3,
				aperture_type: 1,
   				aperture_width: window.innerWidth/3,
				dot_color: dotcol,
				background_color: bgcol,
				aperture_center_x: [window.innerWidth/4,window.innerWidth*3/4],
				text_above: "Please select the stimulus matching the correct one to be memorized",
				text_below_one: "a", 
				text_below_two: "b",
				fixation_cross: false,
				on_finish: function(data){
					jsPsych.data.get().addToLast({correct_response: correctresponseAB()});
					data.response=jsPsych.pluginAPI.convertKeyCodeToKeyCharacter(data.key_press);
					data.correct = data.response==data.correct_response;
					//correct_choice: correctresponseAB()
					currAngle = mypestAngle.staircase(data.correct);
					}
			    }
			
			var qconf = {
				type: 'html-keyboard-response',
				stimulus: [
					'How confident are you? <p> (Press Y for confident and N for unsure)'
					],
			    choices: ["y", "n"],
			    data: {descriptive_trial_type: "qconf", block_num: j, run_num: i},
				on_finish: function(data){
					data.response=jsPsych.pluginAPI.convertKeyCodeToKeyCharacter(data.key_press)	
					}
			    }
			    
			main_timeline.push(fixation);
 			main_timeline.push(rdk1);
 			main_timeline.push(fixation);
 			main_timeline.push(rdk2);
 			main_timeline.push(disp_mem);
 			main_timeline.push(fixation);
			main_timeline.push(rdk3);		
			main_timeline.push(qcoh);	
			main_timeline.push(fixation);
 			main_timeline.push(rdk4);
			main_timeline.push(qconf);
	
	}//end trial generation
}//end congruent/incongruent block loop alternation	
        
        
        
        
        
       
        
        
        
        
        
        //-----------------Your code above this line-----------------//
        ///////////////////////////////////////////////////////////////


        //---------Run the experiment---------
    
        //Initiate the experiment
        jsPsych.init({
          timeline: main_timeline,
          on_finish: function(){ //Execute this when the experiment finishes
            if(savingLocally){
              jsPsych.data.get().localSave('csv','testSave.csv'); //Save the data locally in a .csv file
            }
            if(displayData){
              jsPsych.data.displayData(); //Display the data onto the browser screen
            }
            if(psiTurkIsOn){
              psiturk.saveData({ 
                success: function(){
                  psiturk.completeHIT(); //Complete the HIT
                }
              });
            }
          },
          on_trial_finish: function(){ //Execute this after every trial
            if (1){
              save_data(tableName, [jsPsych.data.get().last(1).values()[0]]);
            }
          }
        });

        
        //------psiTurk Functions Begin------
    
        //A function to save the data to the SQL table on the psiturk server.  This gets called at the end of the file.
        function save_data(data_table,data){
          
          //Retrieve data from psiTurk and add to jsPsych data 
          /* 
jsPsych.data.addProperties(
            {
              workerId: psiturk.taskdata.get('workerId'),
              assignmentId: psiturk.taskdata.get('assignmentId'),
              hitId: psiturk.taskdata.get('hitId') 
            }
          );
 */
          
          //Use AJAX to post the data onto the psiturk server
          $.ajax({
            type:'post',
            cache: false,
            url: 'https://psiturk.psych.ucla.edu/~' + username + '/' + folderName + '/templates/savedata.php',
            data: {
              table: data_table,
              json: JSON.stringify(data),
            },
            success: function(output) { console.log(output); } // write the result to javascript console
          });
        }
 }       
        //------psiTurk Functions End------



    </script>
</html>